.chat-page-container {
  background: rgb(0, 102, 84);
  height: calc(100% - 80px);
  .copy-link-message {
    padding: 8px;
    text-align: center;
    background: #ffffffff;
    border-radius: 4px;
    width: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 4%;
    left: 50%;
    color: blue;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
    animation: cssAnimation 0s ease-in 2s forwards;

  }
  @keyframes cssAnimation {
    0% {opacity: 0}
    5% {opacity: 0.25}
    10% {opacity: 0.5}
    15% {opacity: 0.75}
    20% {opacity: 1}
    30% {opacity: 1}
    40% {opacity: 1}
    50% {opacity: 1}
    60% {opacity: 1}
    70% {opacity: 1}
    80% {opacity: 1}
    81% {opacity: 0.95}
    82% {opacity: 0.9}
    83% {opacity: 0.85}
    84% {opacity: 0.8}
    85% {opacity: 0.75}
    86% {opacity: 0.7}
    87% {opacity: 0.65}
    88% {opacity: 0.6}
    89% {opacity: 0.55}
    90% {opacity: 0.5}
    91% {opacity: 0.45}
    92% {opacity: 0.4}
    93% {opacity: 0.35}
    94% {opacity: 0.3}
    95% {opacity: 0.25}
    96% {opacity: 0.2}
    97% {opacity: 0.15}
    98% {opacity: 0.1}
    99% {opacity: 0.05}
    100% {opacity: 0} /*アニメーション終了時は透過しない*/
  }
  .video-container-wrapper {
    display: flex;
    height: calc(100% - 80px);
    align-items: center;
    .video-container {
      width: 49%;
      height: 0;
      padding-top: calc(369 / 1000 * 100%);
      margin: 0 auto;
      border-radius: 8px;
      position: relative;
      background: rgba(0,0,0,0.56);
      .loader {
        z-index: 30;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .innner-video-user-name {
        position: absolute;
        left: 4px;
        bottom: 4px;
        z-index: 10;
        border-radius: 4px;
        background: rgba(45,45,45, 0.5);
        padding: 8px;
        color: #ffffffff;
        p {
          margin: 0;
        }
      }
      .share-link-title {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 30%;
        z-index: 10;
        color: #ffffffff;
        font-size: 3vmin;
        white-space: nowrap;
      }
      .copy-link-button {
        background: #f8e3c8;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 60%;
        z-index: 10;
        color: black;
        padding: 8px;
        font-size: 24px;
        font-weight: 500;
        border-radius: 4px;
        width: 70%;
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        margin-top: 16px;
      }
      .input-wrapper {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        z-index: 10;
        margin-bottom: 16px;
        background-color: #fff;
        box-shadow: inset 0 0 0 1px transparent;
        box-sizing: border-box;
        width: 70%;
        padding: 15px;
        border: solid rgba(204, 204, 204, 1) 1px;
        border-radius: 4px;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row nowrap;
        .room-url-input {
          flex: 1 1 auto;
          font-size: inherit;
          line-height: inherit;
          color: inherit;
          background-color: inherit;
          padding: 0;
          margin: 0;
          width: 100%;
          outline: none;
          border: 0;
        }
      }
      .my-video {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 8px;
      }
      .user-video {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 8px;
      }
    }
  }
}


