.profile-page-wrapper  {
  padding-top: 32px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  .side-menu {
    width: 15%;
    .list-wrapper {
      margin-top: 120px;
      text-align: center;
      .link-title {
        font-size: 18px;
        width: 60%;
        font-weight: 800;
        padding: 20px;
        margin-bottom: 8px;
      }
      .active {
        background-color: #2b189b;
        border-radius: 8px;
        color: #ffffff;
        font-size: 18px;
        width: 60%;
        font-weight: 800;
        padding: 20px;
        margin-bottom: 8px;
      }
      .link-title:hover {
        background-color: rgba(204, 135, 135, 0.5);
        border-radius: 8px;
      }
    }
  }
  .main-content {
    width: 85%;
  }
}
