.create-room-wrapper {
  .create-room-content-wrapper {
    width: 80%;
    margin: 0 auto;
    .room-list-area {
      width: 60%;
      margin: 0 auto;
      .title {
        color: #444;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 12px;
      }
      .button-area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        .create-button {
          display: inline-block;
          text-decoration: none;
          outline: none;
          padding: 13px;
          background: #2b189b;
          color: #ffffff;
          border-radius: 8px;
          font-size: 24px;
          font-weight: 700;
          width: 50%;
          text-align: center;
        }
        .create-button:hover {
          background: #1e0e7b;
        }
      }
      .room-list-wrapper {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .create-room-wrapper {
    margin-top: 16px;
    .create-room-content-wrapper {
      width: 95%;
      margin: 0 auto;
      .room-list-area {
        width: 100%;
        margin: 0 auto;
        .title {
          color: #444;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 12px;
        }
        .button-area {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 60px;
          .create-button {
            display: inline-block;
            text-decoration: none;
            outline: none;
            padding: 13px;
            background: #2b189b;
            color: #ffffff;
            border-radius: 8px;
            font-size: 18px;
            font-weight: 700;
            width: 50%;
            text-align: center;
          }
          .create-button:hover {
            background: #1e0e7b;
          }
        }
        .room-list-wrapper {
          width: 95%;
          margin: 0 auto;
        }
      }
    }
  }
}
