.create-room-wrapper {
  .create-room-content-wrapper {
    width: 80%;
    margin: 0 auto;
    .room-list-area {
      width: 60%;
      margin: 0 auto;
      .title {
        color: #444;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 12px;
      }
      .room-list-wrapper {
        width: 95%;
        margin: 0 auto;
        ul {
          list-style: none;
          .room-list-content-wrapper {
            height: 42px;
            display: flex;
            align-items: center;
            color:#444;
            border-radius: 4px;
            padding: 8px;
            .icon {
              margin-right: 12px;
            }
          }
          .room-list-content-wrapper:hover {
            background: rgb(191, 191, 191);
          }
        }
      }
    }
  }
}
