.create-room-wrapper {
  .create-room-content-wrapper {
    width: 80%;
    margin: 0 auto;
    .room-list-area {
      width: 60%;
      margin: 0 auto;
      .title {
        color: #444;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 12px;
      }
      .room-list-wrapper {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}
